/* You can also reuse the properties of another tag by extending them */
.info {
    font-size: 12px;
}

.success {
    @extend .info;
    color: #00FF00;
}

.warning {
    @extend .info;
    color: #FF0000;
}
